---
import EstudiosItem from "./EstudiosItem.astro"
const ESTUDIOS = [
  {
    date: "Diciembre 2022 a Febrero 2023",
    title: "Desarrollo Web",
    company: "Coderhouse",
    description:
      "El curso abarca la creación de sitios web estáticos, incluyendo análisis, diseño e implementación con HTML, CSS, GIT, SASS, Bootstrap y SEO, y enseña a subir el sitio a un servidor. Integré el Top 10 de mejores alumnos de la cursada.",
      link: "https://pub.coderhouse.com/legacy-certificates/6408eb3541ce67000ec3bef2?lang=es",
  },
  {
    date: "Febrero 2023 a Abril 2023",
    title: "Javascript",
    company: "Coderhouse",
    description:
      "El curso aborda los fundamentos del lenguaje de programación más utilizado, explorando sus herramientas, casos prácticos y aplicaciones modernas con AJAX. Se crean y aplican soluciones web interactivas en cualquier framework JavaScript.",
      link: "https://pub.coderhouse.com/legacy-certificates/64753865d2204a0002d5b341?lang=es",
  },
  {
    date: "Diciembre 2022 a Junio 2023",
    title: "React JS",
    company: "Coderhouse",
    description:
      "En este curso avanzado se enseña la programación por componentes con JavaScript (JS), ES6 y el uso de flujos de datos. También se aprende sobre rutas con Firebase y el uso de virtual DOM con React JS. Finalizando la cursada se pueden crear aplicaciones SPA y trabajar con frameworks populares como React.",
      link: "https://pub.coderhouse.com/legacy-certificates/64cc3d44dda828bfef88488c?lang=es",
  },
  {
    date: "Diciembre 2022 a Junio 2023",
    title: "Carrera de Desarrollo Frontend React",
    company: "Coderhouse",
    description:
      "La carrera de Front-end brinda una formación integral en el desarrollo de interfaces web modernas y adaptables. Abarca desde la estructura con HTML y CSS hasta la lógica avanzada con JavaScript y React, capacitando para crear sitios interactivos, optimizados y centrados en la experiencia del usuario final.",
      link: "https://pub.coderhouse.com/legacy-certificates/64cc3d44dda82845c388488e?lang=es",
  },
  {
    date: "Noviembre 2024 a Diciembre 2024",
    title: "Wordpress",
    company: "Coderhouse",
    description:
      "El curso de WordPress brinda una formación práctica para el diseño y desarrollo de sitios web autogestionables. Abarca desde la configuración de servidores y dominios hasta el uso de maquetadores visuales, optimización SEO y seguridad, permitiendo crear plataformas dinámicas, profesionales y adaptadas a estándares actuales.",
      link: "https://pub.coderhouse.com/legacy-certificates/6775e3d8b745d828b40688a0?lang=es",
  },
  {
    date: "Enero 2026 a Febrero 2026",
    title: "Introducción a la IA",
    company: "Coderhouse",
    description:
      "El curso de Introducción a la IA proporciona una base sólida en el uso de modelos generativos, automatización de procesos y creación de prompts avanzados. A través de proyectos prácticos, aborda la implementación de herramientas de inteligencia artificial para optimizar flujos de trabajo, potenciar la productividad y desarrollar soluciones innovadoras en entornos profesionales.",
      link: "https://pub.coderhouse.com/certificates/84b49356-f8f6-4edc-96b5-33e4ede778fd?v=1",
  },
]
---

<ol class="relative mt-16">
  {
    ESTUDIOS.map((estudios) => (
      <li class="">
        <EstudiosItem {...estudios} />
      </li>
    ))
  }
</ol>
